header {
    z-index: 5000;
    position: fixed;
    top: 0;
    padding: 1em;
    background-color: #222222;
    clear: left;
    text-align: center;
    width: 100%;
    height: 80px;
}
body {
    z-index: -5000;
}

footer{
    padding: 1em;
    color: #A3A800;
    background-color: #222222;
    clear: left;
    text-align: center;
    display: block;"
}

div {
    text-align: justify;
}